*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body{
   font-family: 'Overpass', sans-serif;
   background-color: #E9F8F8;
    
}
.input{
    text-align: center;
    margin-top: 10%;
}
#p{
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    margin: 10px
}
input[type='text']{
    height: 50px;
    width: 600px;
    background: #E6E6E6;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border:none;  
    border-radius: 5px;  
    padding: 10px 10px;
}
input[type='submit']{
    height: 50px;
    width: 100px;
    background: #E6E6E6;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border:none;    
    border-radius: 5px;
}
.content{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    font-size: 30px;
}
#footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
